orchestration/n8n-workflow.json
{
  "name": "Marketing Microsite — Orchestrated (YouTube)",
  "nodes": [
    {
      "id": "786f9375-de6d-448d-bdd7-da23b5cb5e4d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        96
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "marketing-microsite",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "66119deb-dc37-4e34-9b33-ba33df1cbb9e"
    },
    {
      "id": "a0dca913-44ea-4695-a435-9e2630f9c1b3",
      "name": "Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        96
      ],
      "parameters": {
        "jsCode": "const b = $input.first().json.body;\nif (b.action === 'metrics') {\n  const res = await this.helpers.httpRequest({\n    method: 'GET',\n    url: 'https://www.googleapis.com/youtube/v3/videos',\n    qs: { part: 'statistics,snippet', id: b.contentId },\n    headers: { Authorization: 'Bearer ' + b.accessToken },\n    json: true,\n  });\n  return [{ json: { action: 'metrics', ok: true, raw: res } }];\n}\nconst bytes = Buffer.from(b.mediaBase64, 'base64');\nconst init = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://www.googleapis.com/upload/youtube/v3/videos?uploadType=resumable&part=snippet,status',\n  headers: {\n    Authorization: 'Bearer ' + b.accessToken,\n    'Content-Type': 'application/json; charset=UTF-8',\n    'X-Upload-Content-Type': b.mediaContentType || 'video/mp4',\n    'X-Upload-Content-Length': String(bytes.length),\n  },\n  body: { snippet: { title: b.title, description: b.description || '', categoryId: '22' }, status: { privacyStatus: b.privacy || 'private', selfDeclaredMadeForKids: false } },\n  json: true,\n  returnFullResponse: true,\n});\nconst location = init.headers.location || init.headers.Location;\nconst binaryData = await this.helpers.prepareBinaryData(bytes, 'upload.mp4', b.mediaContentType || 'video/mp4');\nreturn [{ json: { action: 'post', location, contentType: b.mediaContentType || 'video/mp4' }, binary: { data: binaryData } }];"
      }
    },
    {
      "id": "69da2c15-f687-4e5e-b97d-02a2c795aca8",
      "name": "Is Post",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        96
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.action }}",
              "rightValue": "post",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "1823d0b7-5dba-48da-b99f-a1dda599bc78",
      "name": "Upload PUT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        0
      ],
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.location }}",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $json.contentType }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "7bb1d23f-16a0-455b-98f9-27251434dd5c",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "parameters": {
        "jsCode": "const v = $input.first().json;\nreturn [{ json: { ok: true, action: 'post', contentId: v.id, contentUrl: 'https://www.youtube.com/watch?v=' + v.id, publishedAt: v.snippet && v.snippet.publishedAt, raw: { id: v.id, status: v.status } } }];"
      }
    },
    {
      "id": "41aa0ced-b044-4cca-80ad-56964a8f1762",
      "name": "Respond Post",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "310c240b-d2c4-4814-ac89-5515c6d5e439",
      "name": "Respond Metrics",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        192
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep": {
      "main": [
        [
          {
            "node": "Is Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Post": {
      "main": [
        [
          {
            "node": "Upload PUT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload PUT": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Respond Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}